*{
    margin: 0;
    padding: 0;
}

html, body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 140%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    vertical-align: middle;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #FFF;
}

.wrapper{
    position: relative;
    height: 100vh;
    background: #780206;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.header,
.footer{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}


.header > div{
    width: 50%;
}

.header .header-right-section{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
}
.header .header-right-section a{
    margin-right: 30px;
    font-size: 1.5rem;
    line-height: 100%;
    cursor: pointer;
}

.header .header-left-section .logo-section{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    max-width: 250px;
}

.header .header-left-section .logo-section img{
    width: 100%;
}


.header .header-right-section a:last-child,
.footer .social-handles a:last-child{
    margin-right: 0;
}

.content .container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.coming-soon{
    margin-top: 5rem;
    font-size: 6rem;
    line-height: 10rem;
    text-align: center;
    background: -webkit-linear-gradient(#e1e4ff,#70061f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    letter-spacing: 0.2rem;
}

.content .description{
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 150%;
    text-align: center;
    color: #cfcfcf
}

.invitation-section{
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 3rem;
    width: 500px;
    /* background-color: #000; */
    background: linear-gradient(to right, #780206 ,#061161);
    border-radius: 8px;
}

.invitation-section .email-input{
    width: 80%;
    background: transparent;
    color: #FFF;
}

.invitation-section button{
    width: 20%;
    border-radius: 8px;
    background: linear-gradient(to right, #8f0005 ,#000840);
    color: #a1a1a1;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.invitation-section button .button-text{
    display: inline-block;
}

#emailError,
#emailSuccessMessage{
    display: none;
}

#emailError{
    margin-top: 10px;
    color: #da2a22;
}

#emailSuccessMessage.green-text{
    color: #1aaf48;
}

.invitation-section button .loader-section{
    display: none;
}

.invitation-section input,
.invitation-section button{
    padding: 10px;
    font-size: 1rem;
    line-height: 100%;
    outline: 0;
    border: 0;
}

.invitation-section button img{
    width: 16px;
}

.notify-text{
    margin-top: 2rem;
    font-size: 1rem;
}

.footer > div{
    width: 50%;
}

.footer .social-handles{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
}

.footer .social-handles a{
    margin-right: 30px;
    /* background: #FFF; */
    width: 30px;
    height: 30px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(to right, #8f0005 ,#000840);
}

.footer .social-handles a i{
    font-size: 1rem;
    color: #FFF;
}

.footer .privacy-rules a{
    font-size: 1.5rem;
    line-height: 100%;
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    html, body{
        font-size: 80%;
    }
}

@media only screen and (max-width: 610px){
    html, body{
        font-size: 70%;
    }

    .invitation-section{
        width: 370px;
    }   

    .footer{
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .footer > div{
        width: 100%;
        text-align: center;
    }

    .footer .social-handles{
        justify-content: center;
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 500px){
    html, body{
        font-size: 50%;
    }

    .header{
        padding: 20px;
    }
}

@media only screen and (max-width: 425px){
    html, body{
        font-size: 50%;
    }
}

@media only screen and (max-width: 380px){
    html, body{
        font-size: 45%;
    }

    .invitation-section{
        width: 300px;
    }
}